body {
    background-image: url("BGcircle.jpg");
}

h2, h3 {
    color: white;
}

.simon-button{
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 155px;
    border: 15px  rgba;
    box-shadow: 5px 5px 5px rgba(56, 56, 56, 0.473);    
    cursor: pointer; 
    
    
}

.circle-group{
    display: flex;
    
    justify-content: center;
    align-items: center;
     
}

.count{
    display: inline-block;
    
}

.info{
    display: inline-block;
}

.buttons{

    
    margin: 10px;
   
}


#red{
    background: red;
}
#yellow{
    background: yellow;
}
#green{
    background: green;
}
#blue{
    background: blue;
}

container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    
}