.simon-button{
    height: 100px;
    width: 100px;
    border-radius: 55px;
    border: 2px solid grey;
    margin: 10px;
    float: left;

    cursor: pointer; 
    
}

.circle-group{
     display: inline-block;
}

.simon-flash {
        border-radius: 5px;
/* 
    -webkit-animation: flash linear 1s ;
	animation: flash linear 1s ; */
}


#red{
    background: red;
}
#yellow{
    background: yellow;
}
#green{
    background: green;
}
#blue{
    background: blue;
}
