body {
    background-image: url("BGcircle.jpg");
}

h3 {
    color: white;
}

.simon-button{
    height: 200px;
    width: 200px;
    border-radius: 155px;
    border: 2px solid grey;
   
    cursor: pointer; 
    
}

.circle-group{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.count{
    display: inline-block;
    
}

.info{
    display: inline-block;
}

.simon-flash {
        border-radius: 5px;
/* 
    -webkit-animation: flash linear 1s ;
	animation: flash linear 1s ; */
}


#red{
    background: red;
}
#yellow{
    background: yellow;
}
#green{
    background: green;
}
#blue{
    background: blue;
}

container{
    display: flex;
    
    
}